@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "nullstyle.scss";

$gradient: linear-gradient(45deg, #FF4D62, #E96200);
$opacity: .7;

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.header {
    width: 100%;
    padding: 15px 0;
    box-shadow: 0px -2px 45px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header__container {
    max-width: 1400px;
    margin: 0 auto;
}

.header__content {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 400;
    position: relative;
    z-index: 5;
}
.header__menu{
    flex: 0 1 75%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 5;
}
.header__nav {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    display: flex;
    margin-right: 16px;
}
.nav-btn {
    margin-right: 40px;
}

.nav-btn:last-child {
    margin-right: 0px;
}

.header__btn {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 400;
    background-image: $gradient;
    padding: 8px 50px;
    border-radius: 10px;
    color: white;
    position: relative;
}

.exit-form {
    display: inline;
}

.exit-btn {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    background-color: white;
    padding: 4px 20px;
    border-radius: 10px;
    color: #000;
    border: 2px solid #ff4d4d;
}

.header__hi {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
}

.menu {
    display: inline-block;
}

.menu.active .menu__list {
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.menu__button {
    background-color: white;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    color: black;
}

.menu__list {
    padding: 15px;
}

.menu__list li:not(:last-child) {
    margin: 0 0 15px 0;
}

.menu__link {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    color: black;
    background-color: white;
}

.header__hi {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
}

//--------------------------------
.announcement {
    background-color: #F7F7F7;
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 78px 0 64px 0;
}

.announcement__navigation {
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    padding: 16px 0 24px 0;
}
-blo
.navigation__link {}

.navigation__arrow {
    opacity: $opacity;
}

.announcement__row {
    display: flex;
}

.left-block {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 24px 16px 32px;
    flex: 1 1 67%;
}

.left-block__row {
    display: flex;
    justify-content: space-between;
}

.left-block__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 16px;
    color: #000000;
}

.left-block__icon img {
    width: 28px;
    height: 23px;
}

.left-block__img {
    margin-bottom: 16px;
    width: 100%;
    height: 384px;
    & img {
        vertical-align: top;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

.left-block__line {
    display: flex;
    flex-wrap: wrap;
}

.left-block__column {
    margin: 0 4px;
}

.left-block__item {
    padding: 0 -4px;

    & img {
        border-radius: 5px;
        width: 56px;
        height: 56px; //????????? фикс.знач? ????????
    }
}

.left-block__params {
    padding: 19px 8px 28px;
    position: relative;

}

.params {
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        ;
        height: 1px;
    }
}

.params__row {
    display: flex;
}

.params__column {
    margin: 0 16px;
    max-width: 67px;
}

.params__item {
    padding: 0 -16px;
}

.params__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.params__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.left-block__characteristic {}

.characteristic {}

.characteristic__title {
    padding: 28px 0 16px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.characteristic__characteristics {
    padding: 0 0 0 8px;
}

.characteristic-ul {}

.characteristic-li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.75);
    display: flex;
    margin-bottom: 4px;

    & :last-child {
        margin-bottom: 0;
    }

    & span:first-child {
        flex: 1 1 220px;
        max-width: 220px;
        margin-right: 16px;
    }
}

.left-block__description {
    position: relative;

    &::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        ;
        height: 1px;
    }
}

.description {
    padding: 32px 0;

}

.description__title {}

.description__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    opacity: $opacity;
    color: black;
    padding: 14px 0 0 8px;
    max-width: 686px;
}

.left-block__map {
    padding: 24px 0;
}

.map__title {}

.map__addres {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.map__container {
    padding: 14px 8px;
}
#map{
    width: 100%;
    height: 350px;
}
.right-block {
    margin-left: 16px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 28px 16px;
    height: fit-content;
    flex: 0 0 34%;
}

.right-block__price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.right-block__costMeter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.right-block__cotact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding: 10px 10px;
    display: block;
    border: 3px solid #E96200;
    border-radius: 10px;
    margin: 24px 0;
    text-align: center;
}

.right-block__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #D35900;
}

.right-block__change {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 24px 0 16px;
}

.right-block__address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}

.right-block__row {
    display: flex;
    margin: 16px 0;
}

.right-block__metro {
    margin-right: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}
.right-block__time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}

.footer {
    background-color: #323232;
}

.footer__container {}

.footer__content {
    max-width: 930px;
    margin: 0 auto;
    padding: 100px 0 50px;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
}

.footer__column {}

.footer__item {}

.column__title {
    font-size: 29px;
    font-family: "Roboto";
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}

.item__subtitle {
    font-size: 21px;
    font-family: "Roboto";
    color: #fff;
    font-weight: 400;
    margin-bottom: 35px;
}

.footer__arrow {
    border-top: #fff 1px solid;
    width: 66%;
    margin: 0 auto;
}

.conacts__row {
    display: flex;
    margin: 0 -20px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.contacts__column {
    padding: 0 20px;
}

.contacts__icon img {}

input {
    margin-bottom: 16px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 22px;
    font-family: "Roboto";
    font-weight: 300;
}

/* Set a style for all buttons */
.btn__submit {
    background-image: linear-gradient(45deg, #FF4D62, #E96200);
    border-radius: 10px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
    margin-top: 40px;
}

button:hover {
    opacity: 0.8;
}


/* Center the image and position the close button */
.imgcontainer {
    position: relative;
}

.container1 {
    padding: 32px 70px 50px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 51;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 493px;
    /* Could be more or less, depending on screen size */
    border-radius: 5px;
}

.h2__enter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 56px;
    color: #000000;
}

.entr {
    cursor: pointer;
}

.reg {
    cursor: pointer;
}

.notActive {
    color: rgba(0, 0, 0, 0.5);
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
@media(max-width: 1200px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 16px;
    }
    .header__nav {
        align-items: center;
    }

}
@media(max-width: 767px) {
    .announcement__row{
        display: block;
    }
    .right-block{
        margin: 16px 0 0;
    }
    .right-block__cotact{
        width: 45%;
    }
    body.lock{
        overflow: hidden;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        & span{
            background-color: #000;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        position: relative;
        z-index: 6;
    }
    .menu__button{
        margin-top: 16px;
        font-weight: 400;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__nav{
        display: block;
        & a{
            display: block;
            margin-bottom: 8px;
        }
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        display: block;
        padding: 48px 0 0 16px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu.active{
        top: 0;
    }
    .header__burger.active{
        & span{
            transform: scale(0);
        }
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .announcement__navigation {
        font-size: 12px;
        padding: 13px 0 16px 0;
    }
    .announcement{
        padding: 56px 0 64px 0;
    }
}
@media(max-width: 576px) {
    
    .right-block__cotact{
        width: 100%;
    }
    .params__row{
        flex-wrap: wrap;
        align-items: center;

    }
    .characteristic-li span:first-child {
        flex: 1 1 50%;
        max-width: 121px;
                margin-right: 16px;
    }
    .modal-content {
        width: 90%;
    }
}

@media(max-width: 420px) {
    .h2__enter {
        margin-bottom: 18px;
    }
    .btn__submit {
        margin-top: 8px;
    }
    .container1 {
        padding: 32px 34px 50px;
    }

}